#quit1 {
    -fx-background-image: url("Image/quit2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#quit1:hover {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#quit1:pressed {
    -fx-background-image: url("Image/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1 {

    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:hover {

    -fx-background-image: url("Image/minimiser.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}

#minimiser1:pressed {
    -fx-background-image: url("Image/minimiser2.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-cursor: hand;
}
#friendPage
{
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: rgb(180, 180, 180);
    -fx-background-color: white;
}
#Mask{

    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;

}
#head,#head:hover,#head:pressed,#head:focused{

    -fx-border-width: 1px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-background-size: 383px 383px;
    -fx-background-image: url("Image/head.jpg");
    -fx-background-position: center center;
}
#label,#label:hover,#label:focused{
    -fx-border-color: white;
    -fx-background-radius: 0px;
    -fx-background-color: white;
}
#name,#age,#address,#sex,#phone
{
    -fx-background-radius: 0px;
    -fx-border-color:white;
    -fx-background-color: white;
}
#age{
    -fx-background-image: url("Image/age.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#name{
    -fx-background-image: url("Image/name.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#address
{
    -fx-background-image: url("Image/address.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#sex
{
    -fx-background-image: url("Image/sex.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#phone{
    -fx-background-image: url("Image/phone.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
}
#name:hover,#age:hover,#sex:hover,#address:hover,#phone:hover
{
    -fx-background-radius: 0px;
    -fx-border-color:white;
    -fx-background-color: white;
}
#name:focused,#age:focused,#sex:focused,#address:focused,#phone:focused
{
    -fx-background-radius: 0px;
    -fx-border-color:white;
    -fx-background-color: white;
}
#info{

    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: rgb(180, 180, 180);
    -fx-background-color: white;

}
#remark,#remark:hover,#remark:pressed,#remark:focused{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-background-radius: 0px;
    -fx-text-fill: rgb(180,180,180);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15px;

}
#submit{

    -fx-background-color:transparent;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: rgb(180,180,180);

}
#submit:hover{
    -fx-text-fill: black;
    -fx-underline: true;
}
#submit:pressed{
    -fx-text-fill: rgb(150,150,150);
    -fx-underline: false;
}