#quit1{
    -fx-background-image: url("Image/Icon/quit.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-background-size :30px 30px;
}
#quit1:hover
{
    -fx-background-image: url("Image/Icon/quit1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#quit1:pressed
{
    -fx-background-image: url("Image/Icon/quit.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#minimiser1{

    -fx-background-image: url("Image/Icon/min.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-background-size :34px 34px;
}
#minimiser1:hover{

    -fx-background-image: url("Image/Icon/min1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#minimiser1:pressed{
    -fx-background-image: url("Image/Icon/min.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}

#MainWindow{
    -fx-background-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-color: white;
}
#maximization
{
    -fx-background-image: url("Image/Icon/addf.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-background-size :30px 30px;

}
#maximization:hover
{
    -fx-background-image: url("Image/Icon/addf1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#maximization:pressed
{
    -fx-background-image: url("Image/Icon/addf.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#setting
{
    -fx-background-image: url("Image/Icon/setting.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
    -fx-background-size :32px 32px;
}
#setting:hover
{
    -fx-background-image: url("Image/Icon/setting1.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#setting:pressed
{
    -fx-background-image: url("Image/Icon/setting.png");
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: rgba(255,255,255,0);
    -fx-cursor: hand;
}
#individual,#individual:hover,#individual:pressed {
    -fx-background-radius: 200px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 150px 150px;
    -fx-background-color: transparent;
    -fx-background-image: url("Image/head/head10.jpg");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 200px;
    -fx-border-color:transparent;

}

#search
{
    -fx-background-size: 20px 20px;
    -fx-background-image: url("Image/search.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 8px center;
    -fx-background-radius: 20px;
    -fx-background-color: transparent

}
#search:hover
{
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255,255,255,0.5);

}
#search:focused
{
    -fx-background-radius: 20px;
    -fx-background-color: rgba(255,255,255,0.6);


}

#ChatList{


    -fx-background-color: transparent;

}
#FirendList{
    -fx-background-color: transparent;
}
#send{

    -fx-background-color:deepskyblue;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
    -fx-background-image: url("Image/Icon/send.png");
    -fx-background-size: 24px 24px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;

}
#send:hover
{
    -fx-background-color:aquamarine;
    -fx-cursor: hand;
}
#send:pressed{

    -fx-background-color:aqua;
    -fx-cursor: hand;
}
.sendMsg{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.sendMsg:hover{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.sendMsg:pressed{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.head{

    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 46px 46px;
    -fx-background-color: rgba(255,255,255,0);
    -fx-background-image: url("Image/head.jpg");
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;

}
.head:hover{
    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-size: 46px 46px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;
}
.head:pressed{
    -fx-background-radius: 1px;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-color: transparent;
    -fx-background-size: 46px 46px;
    -fx-cursor: hand;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-border-color:transparent;
}
.ListItem{
    -fx-background-color:transparent;
    -fx-text-fill:black;
}
.pane{
    -fx-background-radius: 0px;
    -fx-background-color:rgba(255,255,255,0);
}
.outline{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-style: none;
     -fx-background-image: url("Image/Icon/outline.png");
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
.online{

    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-style: none;
    -fx-background-image: url("Image/Icon/online.png");
    -fx-background-size: 15px 15px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}
#background,#background:hover,#background:focused{
    -fx-border-width: 1px;
    -fx-border-color: rgb(180,180,180);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-size: 1198px 698px;
    -fx-background-color: white;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;

}

#bgPane{
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
#FirendList{
    -fx-background-color: transparent;
}
#FirendList .list-cell {
    -fx-background-color: rgb(255,255,255);
    -fx-text-fill: black;
    -fx-font-family: "Forte";
    -fx-font-weight: bold;
}

#FirendList .list-cell:selected{
    -fx-background-color: rgba(180,180,180,0.5);
    -fx-text-fill: black;
    -fx-font-family: "Forte";
    -fx-font-weight: bold;


}
#ChatList .list-cell {
    -fx-background-color: transparent;
}
#ChatList
{
    -fx-background-color:transparent;
}
.lefttext{
    -fx-control-inner-background:#feffd3;
    -fx-control-inner-radius:5px;
    -fx-background-color: #feffd3;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #feffd3;
    -fx-font-size: 15px;
    -fx-font-family: "Forte";
    -fx-font-style: italic;
    -fx-text-fill:black;
}
.righttext{

    -fx-control-inner-background:#7dc5eb;
    -fx-control-inner-radius:5px;
    -fx-background-color: #7dc5eb;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #7dc5eb;
    -fx-font-size: 15px;
    -fx-font-family: "Forte";
    -fx-font-style: italic;
    -fx-text-fill:black;

}
.leftarrow{

   -fx-background-image: url("Image/Icon/left.png");
    -fx-background-size: 20px 20px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;

}
.rightarrow{
    -fx-background-image: url("Image/Icon/right.png");
    -fx-background-size: 20px 20px;
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}
.scroll-bar:horizontal,.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button,.decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,.scroll-bar:vertical .track{

    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color:transparent;

}
.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb{

    -fx-background-color:transparent;
    -fx-background-radius:5px;

}
.scroll-bar:horizontal:hover .track,.scroll-bar:vertical:hover .track,.scroll-bar:horizontal:pressed .track,.scroll-bar:vertical:pressed .track
{

    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-border-color:transparent;

}
.scroll-bar:horizontal:hover .thumb,.scroll-bar:vertical:hover .thumb{

    -fx-background-color: rgba(150,150,150,0.6);
    -fx-background-radius:5px;

}
.scroll-bar:horizontal:pressed .thumb,.scroll-bar:vertical:pressed .thumb{

    -fx-background-color: rgb(150,150,150);
    -fx-background-radius:5px;

}

.increment-button:hover,.decrement-button:hover,.increment-button:pressed,.decrement-button:pressed{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.increment-arrow, .decrement-arrow{

    -fx-shape: " ";
    -fx-padding: 0px;

}

.MsgTip,.MsgTip:hover,.MsgTip:pressed{
    -fx-background-radius: 10px;
    -fx-background-color: deepskyblue;
    -fx-text-fill: white;
    -fx-text-alignment: justify;
}
.no-MsgTip,.no-MsgTip:hover,.no-MsgTip:pressed{
    -fx-background-radius: 10px;
    -fx-background-color: transparent;
}
#input,#input:hover,#input:pressed,#input:focused{

    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("Image/Icon/ms.png");
    -fx-background-position: 2px 9px;
    -fx-background-size: 30px 30px;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-background-radius: 0px;
    -fx-text-fill: rgb(140,140,140);
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;



}
#Me{

    -fx-background-color: deepskyblue;
    -fx-background-radius: 2px;
    -fx-border-width:1px;
    -fx-border-color: deepskyblue;
    -fx-border-radius: 2px;

}
#more{

    -fx-background-color:transparent;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-cursor: hand;

}
#more:hover,#more:pressed{
    -fx-underline: true;
    -fx-text-fill: rgba(255,255,255,0.5);
}
#moref,#moref:pressed{

    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-background-image: url("Image/Icon/more.png");
    -fx-background-size: 24px 24px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-cursor: hand;

}
#moref:hover
{
    -fx-background-image: url("Image/Icon/more1.png");
}